version: '3'

services:
  # 后端服务配置
  backend:
    image: tabortoa/homerecord-backend:latest # 国内用户镜像加速 dk.nastool.de/tabortoa/homerecord-backend
    container_name: homerecord-backend
    ports:
      - "5000:5000"
    volumes:
      - ./backend/instance:/app/backend/instance  # 数据库持久化
      - ./backend/logs:/app/backend/logs          # 日志目录
    environment:
      - FLASK_ENV=development
      - FLASK_APP=backend/app.py
      - SECRET_KEY=your-secret-key-here
    networks:
      - app-network
    restart: unless-stopped
    tty: true

  # 前端服务配置
  frontend:
    image: tabortoa/homerecord-frontend:latest # 国内用户镜像加速 dk.nastool.de/tabortoa/homerecord-frontend
    container_name: homerecord-frontend
    ports:
      - "38004:8000"
    volumes:
      - ./frontend/static/uploads:/app/frontend/static/uploads  # 上传文件持久化
    environment:
      # 移除API_BASE_URL环境变量，前端现在会动态计算API地址
      - PORT=8000
    networks:
      - app-network
    depends_on:
      - backend  # 确保后端服务先启动
    restart: unless-stopped
    tty: true

networks:
  app-network:
    driver: bridge